/*body {
  font-family: "Lora", "Century Gothic", "Arial";
  line-height: 1.4em;
  background-image: url("images/starring/starring.png");
  color: black;
}

header {
	background-image: radial-gradient(yellow,green,orange,red);
	color: yellow;
	text-align: center;
}*/